
.dark{
        margin-bottom: 20px !important;
        padding: 20px !important;
        text-align: center !important;
        background: #010a01 !important;
}

.Button_pink {
    color: #fff !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe !important;

    border: 0.2rem solid #fff !important;
    border-radius: 2rem !important;
    color: #fff !important;
    padding: 0.4em !important;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe !important;
}

.Button_white {
    color: #fff !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ffffff,
        0 0 82px #ffffff,
        0 0 92px #ffffff, !important;

    border: 0.2rem solid #fff !important;
    border-radius: 2rem !important;
    color: #fff !important;
    padding: 0.4em !important;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #fff,

                inset 0 0 1.3rem rgb(255, 255, 255) !important;
}