.dark{
        margin-bottom: 20px !important;
        padding: 20px !important;
        text-align: center !important;
        background: #000000 !important;
}

.App-logo {
    width: 50vw; /* 画面の幅の50% */.logo {
    text-align: center;
    width: 65%;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}
}


.App-logo {
    height: auto; /* 高さは自動調整 */
    margin-top: -50px;
    margin-bottom: -100px;
}

@media (min-width: 601px) {
    .App-logo {
        width: 30vw; /* 大きな画面では幅を小さくする */
        margin-top: -50px;
        margin-bottom: -150px;
    }
}


.header {
    color: #fff !important; /* 白色のテキスト */
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #f0f, /* ネオンの色 */
    0 0 30px #f0f,
    0 0 40px #f0f,
    0 0 70px #f0f,
    0 0 80px #f0f,
    0 0 100px #f0f,
    0 0 150px #f0f !important; 
}


.Button_pink {
    color: #fff !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 151px #bc13fe !important;

    border: 0.2rem solid #fff !important;
    border-radius: 2rem !important;
    color: #fff !important;
    padding: 0.4em !important;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe !important;
}

.Button_white {
    color: #fff !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ffffff,
        0 0 82px #ffffff,
        0 0 92px #ffffff, !important;

    border: 0.2rem solid #fff !important;
    border-radius: 2rem !important;
    color: #fff !important;
    padding: 0.4em !important;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #fff,

                inset 0 0 1.3rem rgb(255, 255, 255) !important;
}

.form {
    color: #fff !important;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ffffff,
        0 0 82px #ffffff,
        0 0 92px #ffffff, !important;

    border: 0.2rem solid #fff !important;
    border-radius: 0.5rem !important;
    color: #fff !important;
    padding: 0.15em !important;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #fff,

                inset 0 0 1.3rem rgb(255, 255, 255) !important;
}